body {
	font-family:'Times roman'; 
	margin:0px;
	background:url(../IMG/fondo_azul.jpg);
	background-position::hover;
	
}
caption{
font-size:40px;
color:black;
}

th{
font-size:30px;
color:green;
}

td{
font-size:25px;
color:blue;
}