body {
	font-family:'Times roman'; 
	margin:0px;
	background:url(../IMG/fondo_web.jpg);
	
	
}
caption{
font-size:40px;
color:violet;
}

th{
font-size:30px;
color:deepskyblue;
}

td{
font-size:25px;
color:violet;
}

#div_lateral{
font-size:30px;
color:red;
}