body{
	background-color : #EED5B7;
	background:url(../IMG/fondo_formtarifa.jpg);
	background-repeat:no-repeat;
}

#div_lateral{
	color:green;
	position:absolute;
	top:5px;
	font-size:25px;
}

h1{
	position:center;
	color:yellowgreen;
	text-align: center;
	
}
#div_formu{
	position:absolute;
	top:150px;

}

#div_submit{
	position:absolute;
	top:80px;
	left:500px;
	text-align:center;
}

#label_operador
{
  color:MediumSpringGreen ;
  display: block;
  float: left;
  text-align: right;
  width:1em;
  padding-right:0.5em;
  font-weight:bold;  
  font-size:20px;
}

input#operador {
  width: 12em;
}

input#tarifa {
  width: 20em;
}