
body{
	background-color : #EED5B7;
	background:url(../IMG/movil.jpg);
	background-repeat:no-repeat;
}

h1{
	color:green;
	font-size:60px;
	text-align: center;
}
#div_lateral{
	color:red;
	position:center;
	bottom:107px;
	width:150px;
	height:800px;
	font-size:20px;
}

#div_submit{
	text-align : center;
}

#label_modelo,
#label_marca,
#label_pantalla,
#label_teclado,
#label_meminterna,
#label_memoriaexterna,
#label_gpu,
#label_cpu,
#label_calidadcamara,
#label_cantidad

{
  display: block;
  float: left;
  text-align: right;
  width: 10em;
  padding-right: 0.5em;
  font-weight : bold;
  font-size:20px;
}



input#modelo {
  width: 10em;
}

input#marca {
  width: 10em;
}
