body {
	font-family:'Times roman'; 
	margin:0px;
	background:url(../IMG/moviles1.jpg);
	
	
}
caption{
font-size:40px;
color:black;
}

th{
font-size:30px;
color:red;
}

td{
font-size:25px;
color:red;
}

