body {
	font-family:'Times roman'; 
	margin:0px;
	background:url(../IMG/fondo_azul.jpg);
	background-repeat:no-repeat;color:orange;
}

#div_lateral{
	font-size:30px;
	color:red;

}
#div_proveedor{
	color:orange;
	left:50px;
	position:absolute;
	}