body {
	font-family:'Times romans'; 
	margin:0px;
	background:url(../IMG/fondo_contacto.jpg);
	
}

#div_cabecera{

	height:90px;
	position: relative;
	bottom: 90px;
}
#div_central{
	position:relative;
	bottom: 800px;
	color:red;
	left:200px;
}
#div_lateral{
	color:red;
	position:relative;
	bottom:107px;
	width:150px;
	height:800px;
	font-size:20px;
}

h1{
color:red;
font-size:80px;
}

h2{
color:green;
font-size:50px;
}

h3{
color:red;
font-size:30px;