body {
	font-family:'Times roman'; 
	margin:0px;
	background:url(../IMG/fondo_azul.jpg);
	background-repeat:no-repeat;
}


#div_lateral{
	
	position:relative;
	bottom:10px;
	width:50px;
	height:80px;
	background:url(../IMG/lateral.jpg);	
}


#contacto{
	position:relative;
	bottom:20px;
	float: none;
}

#div_formu{
	position:relative;
	height:90px;
	
}