body{
	background-color : #EED5B7;
	background:url(../IMG/fondo_formtarifa.jpg);
	background-repeat:no-repeat;
}


h1{
	color:yellowgreen;
	text-align: center;
	
}

#div_submit{
	color:blue;
	text-align : center;
}

#label_operador
{
  color:MediumSpringGreen ;
  display: block;
  float: left;
  text-align: right;
  width: 10em;
  padding-right: 0.5em;
  font-weight : bold;  
}
#label_letra{
	 font-weight : bold;
}

input#operador {
  width: 12em;
}

input#tarifa {
  width: 20em;
}