body {
	font-family:'Times roman'; 
	margin:0px;
	background:url(../IMG/fondo_azul.jpg);
	background-repeat:no-repeat;
	color:orange;
}

#div_lateral{
	color:red;
	position:center;
	bottom:107px;
	width:150px;
	height:800px;
	font-size:20px;
}