body{
	background-color : #EED5B7;
	background:url(../IMG/proveedores.gif);
	background-position::hover;

}

#div_lateral{
	color:red;
	position:absolute;
	top:5px;
	font-size:25px;
}

input,select{
	border: 1px solid black;
}
h1{
	color:blue;
	font-size:60px;
	text-align: center;
}

#div_submit{
	text-align : center;
}
#label_nombre,
#label_apellidos,	
#label_cif,
#label_dni
{
  display: block;
  float: left;
  text-align: right;
  width: 10em;
  padding-right: 0.5em;
  font-weight : bold;  
  font-size:20px;
  color:Chartreuse;
}
#label_letra{
	 font-weight : bold;
}

input#nombre {
  width: 6em;
}
input#apellidos {
  width: 6em;
}
input#cif {
  width: 6em;
}
input#dni {
  width: 6em;
}